*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ヘッダー */
header{
  height: 50px;
  background-color: #ff9a4b;
}

/* コンテンツ */
.content{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content-list{
  width: 300px;
  padding: 10px;
  margin: 50px 0;
  position: relative;
  background-color: #EEEEEE;
}

.content-list:nth-child(2){
  margin-left: 30px;
  margin-right: 30px;
}

.step{
  padding: 3px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

.image1{
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2{
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3{
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.image1, .image2, .image3{
  height: 150px;
}

.title{
  padding: 15px 0 5px 0;
}

/* フッター */
footer{
  height: 50px;
  background-color: #AAAAAA;
}